{
  "openapi": "3.0.4",
  "info": {
    "title": "Exact Online REST API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://start.exactonline.nl",
      "description": "Exact Online REST API Endpoint"
    }
  ],
  "paths": {
    "/api/v1/{division}/accountancy/AccountInvolvedAccounts": {
      "description": "This resource will show all accounts which are involved for a specific account and will also show the type of the relation between the accounts. This functionality is only available in a practice management company.",
      "get": {
        "summary": "GET AccountancyAccountInvolvedAccounts",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of AccountancyAccountInvolvedAccounts entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountancyAccountInvolvedAccounts_Response"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST AccountancyAccountInvolvedAccounts",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyAccountInvolvedAccounts entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyAccountInvolvedAccounts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/AccountInvolvedAccounts({id})": {
      "description": "This resource will show all accounts which are involved for a specific account and will also show the type of the relation between the accounts. This functionality is only available in a practice management company.",
      "put": {
        "summary": "PUT AccountancyAccountInvolvedAccounts",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyAccountInvolvedAccounts",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyAccountInvolvedAccounts entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyAccountInvolvedAccounts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PUT operation successful"
          }
        }
      },
      "delete": {
        "summary": "DELETE AccountancyAccountInvolvedAccounts",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyAccountInvolvedAccounts",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE operation successful"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExactOnlineMetadata": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "AccountancyAccountInvolvedAccounts": {
        "required": [
          "ID"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "Primary key",
            "format": "uuid"
          },
          "Account": {
            "type": "string",
            "description": "ID of account",
            "format": "uuid"
          },
          "AccountName": {
            "type": "string",
            "description": "Name of account"
          },
          "Created": {
            "type": "string",
            "description": "Creation date",
            "format": "date-time"
          },
          "Creator": {
            "type": "string",
            "description": "User ID of creator",
            "format": "uuid"
          },
          "CreatorFullName": {
            "type": "string",
            "description": "Name of creator"
          },
          "Division": {
            "type": "integer",
            "description": "Division code",
            "format": "int32"
          },
          "InvolvedAccount": {
            "type": "string",
            "description": "ID of involved account",
            "format": "uuid"
          },
          "InvolvedAccountRelationTypeDescription": {
            "type": "string",
            "description": "Description of relation type"
          },
          "InvolvedAccountRelationTypeDescriptionTermId": {
            "type": "integer",
            "description": "TermId of description of relation type",
            "format": "int32"
          },
          "InvolvedAccountRelationTypeId": {
            "type": "integer",
            "description": "ID of relation type",
            "format": "int16"
          },
          "Modified": {
            "type": "string",
            "description": "Last modified date",
            "format": "date-time"
          },
          "Modifier": {
            "type": "string",
            "description": "User ID of modifier",
            "format": "uuid"
          },
          "ModifierFullName": {
            "type": "string",
            "description": "Name of modifier"
          },
          "Notes": {
            "type": "string",
            "description": "Use to record details of important information"
          }
        }
      },
      "AccountancyAccountInvolvedAccounts_Response": {
        "required": [
          "d"
        ],
        "type": "object",
        "properties": {
          "d": {
            "required": [
              "results"
            ],
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountancyAccountInvolvedAccounts"
                }
              }
            }
          }
        },
        "description": "A collection of AccountancyAccountInvolvedAccounts entities."
      }
    }
  }
}