{
  "openapi": "3.0.4",
  "info": {
    "title": "Exact Online REST API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://start.exactonline.nl",
      "description": "Exact Online REST API Endpoint"
    }
  ],
  "paths": {
    "/api/v1/{division}/read/sync/Sync/SyncTimestamp": {
      "description": "The sync APIs have the goal to keep the data between Exact Online and a 3rd party application the same. When you use the Sync APIs for the first time, you might not want to sync all data, but you want to start syncing on a particular date. Via the Modified date filter, you can retrieve a single timestamp and use it in the Sync APIs. You must provide datetime as 'modified' and name of the endpoint as 'endpoint' to filter on property 'Modified' of each sync endpoint. The first record found will be return based on the greater than or equal to logical operator.  You can provide the endPoint value based on the following supported endPoints: &nbsp; &nbsp; • sync/CRM/QuotationHeaders use QuotationHeaders as endPoint value. &nbsp; &nbsp; • sync/CRM/QuotationLines use QuotationLines as endPoint value. &nbsp; &nbsp; • sync/Financial/TransactionLines use TransactionLines as endPoint value. &nbsp; &nbsp; • sync/Inventory/ItemStorageLocations use ItemStorageLocations as endPoint value. &nbsp; &nbsp; • sync/Manufacturing/ShopOrders use ShopOrders as endPoint value. &nbsp; &nbsp; • sync/Manufacturing/ShopOrderMaterialPlans use ShopOrderMaterialPlans as endPoint value. &nbsp; &nbsp; • sync/Manufacturing/ShopOrderRoutingStepPlans use ShopOrderRoutingStepPlans as endPoint value. &nbsp; &nbsp; • sync/Manufacturing/ShopOrderPurchasePlanning use ShopOrderPurchasePlanning as endPoint value. &nbsp; &nbsp; • sync/Manufacturing/ShopOrderSubOrders use ShopOrderSubOrders as endPoint value. &nbsp; &nbsp; • sync/Manufacturing/MaterialIssues use MaterialIssues as endPoint value. &nbsp; &nbsp; • sync/Manufacturing/BillOfMaterialVersions use BillOfMaterialVersions as endPoint value. &nbsp; &nbsp; • sync/Manufacturing/BillOfMaterialMaterials use BillOfMaterialMaterials as endPoint value. &nbsp; &nbsp; • sync/PurchaseOrder/PurchaseOrders use PurchaseOrders as endPoint value. &nbsp; &nbsp; • sync/Project/Projects use Projects as endPoint value. &nbsp; &nbsp; • sync/Project/ProjectPlanning use ProjectPlanning as endPoint value. &nbsp; &nbsp; • sync/Project/ProjectWBS use ProjectWBS as endPoint value. &nbsp; &nbsp; • sync/Project/TimeCostTransactions use TimeCostTransactions as endPoint value. &nbsp; &nbsp; • sync/SalesInvoice/SalesInvoices use SalesInvoices as as endPoint value. &nbsp; &nbsp; • sync/SalesOrder/GoodsDeliveries use GoodsDeliveries as as endPoint value. &nbsp; &nbsp; • sync/SalesOrder/GoodsDeliveryLines use GoodsDeliveryLines as endPoint value. &nbsp; &nbsp; • sync/SalesOrder/SalesOrderHeaders use SalesOrderHeaders as endPoint value. &nbsp; &nbsp; • sync/SalesOrder/SalesOrderLines use SalesOrderLines as endPoint value. &nbsp; &nbsp; • sync/Subscription/Subscriptions use Subscriptions as endPoint value. &nbsp; &nbsp; • sync/Subscription/SubscriptionLines use SubscriptionLines as endPoint value.  For example : modified=datetime'2022-01-01'&amp;endPoint='QuotationHeaders' For this function to work correctly, you must supply all parameters.",
      "get": {
        "summary": "GET ReadSyncSyncSyncTimestamp",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified",
            "in": "query",
            "description": "Query parameter of type Edm.DateTime",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endPoint",
            "in": "query",
            "description": "Query parameter of type Edm.String",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ReadSyncSyncSyncTimestamp entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadSyncSyncSyncTimestamp"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ReadSyncSyncSyncTimestamp": {
        "type": "object"
      }
    }
  }
}