{
  "openapi": "3.0.4",
  "info": {
    "title": "Exact Online REST API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://start.exactonline.nl",
      "description": "Exact Online REST API Endpoint"
    }
  ],
  "paths": {
    "/api/v1/{division}/accountancy/AccountInvolvedAccounts": {
      "description": "This resource will show all accounts which are involved for a specific account and will also show the type of the relation between the accounts. This functionality is only available in a practice management company.",
      "get": {
        "summary": "GET AccountancyAccountInvolvedAccounts",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of AccountancyAccountInvolvedAccounts entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountancyAccountInvolvedAccounts"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST AccountancyAccountInvolvedAccounts",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyAccountInvolvedAccounts entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyAccountInvolvedAccounts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/AccountInvolvedAccounts({id})": {
      "description": "This resource will show all accounts which are involved for a specific account and will also show the type of the relation between the accounts. This functionality is only available in a practice management company.",
      "put": {
        "summary": "PUT AccountancyAccountInvolvedAccounts",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyAccountInvolvedAccounts",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyAccountInvolvedAccounts entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyAccountInvolvedAccounts"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PUT operation successful"
          }
        }
      },
      "delete": {
        "summary": "DELETE AccountancyAccountInvolvedAccounts",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyAccountInvolvedAccounts",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/AccountOwners": {
      "description": "The account owners are accounts which represents the owners or shareholders for a specific account. In this resource also the percentage of shares which the account holds are stored. This functionality is only available in a practice management company.",
      "get": {
        "summary": "GET AccountancyAccountOwners",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of AccountancyAccountOwners entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountancyAccountOwners"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST AccountancyAccountOwners",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyAccountOwners entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyAccountOwners"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/AccountOwners({id})": {
      "description": "The account owners are accounts which represents the owners or shareholders for a specific account. In this resource also the percentage of shares which the account holds are stored. This functionality is only available in a practice management company.",
      "put": {
        "summary": "PUT AccountancyAccountOwners",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyAccountOwners",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyAccountOwners entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyAccountOwners"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PUT operation successful"
          }
        }
      },
      "delete": {
        "summary": "DELETE AccountancyAccountOwners",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyAccountOwners",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/InvolvedUserRoles": {
      "description": "An involved user role represents a role which a user can have in an accountancy firm. This involved user role can be used to indicate the role that a user have for a certain client. This functionality is only available in a practice company.",
      "get": {
        "summary": "GET AccountancyInvolvedUserRoles",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of AccountancyInvolvedUserRoles entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountancyInvolvedUserRoles"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST AccountancyInvolvedUserRoles",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyInvolvedUserRoles entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyInvolvedUserRoles"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/InvolvedUserRoles({id})": {
      "description": "An involved user role represents a role which a user can have in an accountancy firm. This involved user role can be used to indicate the role that a user have for a certain client. This functionality is only available in a practice company.",
      "put": {
        "summary": "PUT AccountancyInvolvedUserRoles",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyInvolvedUserRoles",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyInvolvedUserRoles entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyInvolvedUserRoles"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PUT operation successful"
          }
        }
      },
      "delete": {
        "summary": "DELETE AccountancyInvolvedUserRoles",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyInvolvedUserRoles",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/InvolvedUsers": {
      "description": "The involved users keeps track on all users which are involved for a certain client of the accountant. The involved user also shows the role that the user has for the involved client. This functionality is only available in a practice company.",
      "get": {
        "summary": "GET AccountancyInvolvedUsers",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of AccountancyInvolvedUsers entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountancyInvolvedUsers"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST AccountancyInvolvedUsers",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyInvolvedUsers entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyInvolvedUsers"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/InvolvedUsers({id})": {
      "description": "The involved users keeps track on all users which are involved for a certain client of the accountant. The involved user also shows the role that the user has for the involved client. This functionality is only available in a practice company.",
      "put": {
        "summary": "PUT AccountancyInvolvedUsers",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyInvolvedUsers",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyInvolvedUsers entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyInvolvedUsers"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PUT operation successful"
          }
        }
      },
      "delete": {
        "summary": "DELETE AccountancyInvolvedUsers",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyInvolvedUsers",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/SolutionLinks": {
      "description": "Solution links are used to store which bookkeeping solution is used for a certain account. This can be the bookkeeping solution of Exact Online which is mentioned as ‘internal’ or a bookkeeping solution of another vender which is mentioned as ‘external’.",
      "get": {
        "summary": "GET AccountancySolutionLinks",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of AccountancySolutionLinks entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountancySolutionLinks"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST AccountancySolutionLinks",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancySolutionLinks entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancySolutionLinks"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/SolutionLinks({id})": {
      "description": "Solution links are used to store which bookkeeping solution is used for a certain account. This can be the bookkeeping solution of Exact Online which is mentioned as ‘internal’ or a bookkeeping solution of another vender which is mentioned as ‘external’.",
      "put": {
        "summary": "PUT AccountancySolutionLinks",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancySolutionLinks",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancySolutionLinks entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancySolutionLinks"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PUT operation successful"
          }
        }
      },
      "delete": {
        "summary": "DELETE AccountancySolutionLinks",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancySolutionLinks",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/TaskTypes": {
      "description": "The task types are specific types defined by the user of the accountancy firm.This resource shows the custom types defined within a company.",
      "get": {
        "summary": "GET AccountancyTaskTypes",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of AccountancyTaskTypes entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountancyTaskTypes"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST AccountancyTaskTypes",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyTaskTypes entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyTaskTypes"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/accountancy/TaskTypes({id})": {
      "description": "The task types are specific types defined by the user of the accountancy firm.This resource shows the custom types defined within a company.",
      "put": {
        "summary": "PUT AccountancyTaskTypes",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyTaskTypes",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The AccountancyTaskTypes entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountancyTaskTypes"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PUT operation successful"
          }
        }
      },
      "delete": {
        "summary": "DELETE AccountancyTaskTypes",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AccountancyTaskTypes",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/activities/CommunicationNotes": {
      "description": "",
      "get": {
        "summary": "GET ActivitiesCommunicationNotes",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of ActivitiesCommunicationNotes entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivitiesCommunicationNotes"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST ActivitiesCommunicationNotes",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The ActivitiesCommunicationNotes entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivitiesCommunicationNotes"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/activities/Complaints": {
      "description": "",
      "get": {
        "summary": "GET ActivitiesComplaints",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of ActivitiesComplaints entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivitiesComplaints"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST ActivitiesComplaints",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The ActivitiesComplaints entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivitiesComplaints"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/activities/Events": {
      "description": "",
      "get": {
        "summary": "GET ActivitiesEvents",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of ActivitiesEvents entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivitiesEvents"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST ActivitiesEvents",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The ActivitiesEvents entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivitiesEvents"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/activities/ServiceRequests": {
      "description": "",
      "get": {
        "summary": "GET ActivitiesServiceRequests",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of ActivitiesServiceRequests entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivitiesServiceRequests"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST ActivitiesServiceRequests",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The ActivitiesServiceRequests entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivitiesServiceRequests"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/activities/Tasks": {
      "description": "",
      "get": {
        "summary": "GET ActivitiesTasks",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of ActivitiesTasks entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivitiesTasks"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST ActivitiesTasks",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The ActivitiesTasks entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivitiesTasks"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/assets/AssetGroups": {
      "description": "Use this endpoint to get all information related to the asset groups of the administration.  Asset groups are used to maintain depreciation method and G/L accounts for a group of assets.",
      "get": {
        "summary": "GET AssetsAssetGroups",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of AssetsAssetGroups entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetsAssetGroups"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/assets/Assets": {
      "description": "Use this endpoint to get all information related to your admininstrations asset master data. This REST API returns the information as seen on the asset card.To retrieve the total depreciated amount and the last depreciation date as calculated in Exact Online, you must use XML API.",
      "get": {
        "summary": "GET AssetsAssets",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of AssetsAssets entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetsAssets"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/assets/CommercialBuildingValues": {
      "description": "Use this endpoint to get all information related to commercial buildings values.",
      "get": {
        "summary": "GET AssetsCommercialBuildingValues",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of AssetsCommercialBuildingValues entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetsCommercialBuildingValues"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/assets/DepreciationMethods": {
      "description": "Use this endpoint to get all information related to the depreciation methods of the administration. You can also use this endpoint to create, modify or delete a depreciation method.",
      "get": {
        "summary": "GET AssetsDepreciationMethods",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of AssetsDepreciationMethods entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetsDepreciationMethods"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST AssetsDepreciationMethods",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The AssetsDepreciationMethods entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetsDepreciationMethods"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/assets/DepreciationMethods({id})": {
      "description": "Use this endpoint to get all information related to the depreciation methods of the administration. You can also use this endpoint to create, modify or delete a depreciation method.",
      "put": {
        "summary": "PUT AssetsDepreciationMethods",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AssetsDepreciationMethods",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The AssetsDepreciationMethods entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetsDepreciationMethods"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PUT operation successful"
          }
        }
      },
      "delete": {
        "summary": "DELETE AssetsDepreciationMethods",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the AssetsDepreciationMethods",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/budget/Budgets": {
      "description": "Use this endpoint to get the budgets that you have allocated to a G/L account in your administration. For more information about budget, you can refer to Budgets.",
      "get": {
        "summary": "GET BudgetBudgets",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BudgetBudgets entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BudgetBudgets"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/beta/{division}/budget/BudgetScenarios": {
      "description": "",
      "get": {
        "summary": "GET BudgetBudgetScenarios",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BudgetBudgetScenarios entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BudgetBudgetScenarios"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/Cashflow/Payments": {
      "description": "Use this endpoint to get an overview of all the payments in your administration. Paymentlines are grouped by own bank account, account bank account, payment reference, payment method, entry date and status. Payments of one entry have the same TransactionId. Among other things, with this endpoint you can get information like the payments status (e.g. Open, Processed) or when is the payment due.\nThis bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nAccount, AccountBankAccountID, AccountContact, BankAccountID, Document, EndDate, EntryDate, EntryID, GLAccount, ID, InvoiceDate, InvoiceNumber, Source, Status, TransactionID, TransactionType",
      "get": {
        "summary": "GET BulkCashflowPayments",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkCashflowPayments entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkCashflowPayments"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/Cashflow/Receivables": {
      "description": "Use this endpoint to get an overview of all the payment to be received in your administration. Paymentlines are grouped by own bank account, account bank account, payment reference, payment method, entry date and status. Payments of one entry have the same TransactionId. Among other things, with this endpoint you can get information like the payments status (e.g. Open, Processed) or when is the collection is due.\nThis bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nAccount, Document, EndDate, EndToEndID, EntryDate, EntryID, GLAccount, ID, InvoiceDate, InvoiceNumber, Source, Status, TransactionID, TransactionType",
      "get": {
        "summary": "GET BulkCashflowReceivables",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkCashflowReceivables entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkCashflowReceivables"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/CRM/Accounts": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.",
      "get": {
        "summary": "GET BulkCRMAccounts",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkCRMAccounts entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkCRMAccounts"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/CRM/Addresses": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nAccount, Contact, ID, Main, Type, Warehouse",
      "get": {
        "summary": "GET BulkCRMAddresses",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkCRMAddresses entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkCRMAddresses"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/CRM/Contacts": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nAccount, ID, IdentificationDocument, IdentificationUser, Person",
      "get": {
        "summary": "GET BulkCRMContacts",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkCRMContacts entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkCRMContacts"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/CRM/QuotationLines": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nItem, LineNumber, QuotationID, QuotationNumber, VersionNumber, VATCode",
      "get": {
        "summary": "GET BulkCRMQuotationLines",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkCRMQuotationLines entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkCRMQuotationLines"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/CRM/Quotations": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nDeliveryAccount, DeliveryAccountContact, DeliveryAddress, Document, InvoiceAccount, InvoiceAccountContact, Opportunity, OrderAccount, OrderAccountContact, Project, QuotationID, QuotationNumber, QuotationDate, SelectionCode, Status, VersionNumber",
      "get": {
        "summary": "GET BulkCRMQuotations",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkCRMQuotations entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkCRMQuotations"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/Documents/DocumentAttachments": {
      "description": "To be able to upload an attachment (i.e. a PDF file) you first need to create a (empty) document.This bulk service has a page size of 1000.\nOnly the following filters are supported for this endpoint:\nDocument, ID",
      "get": {
        "summary": "GET BulkDocumentsDocumentAttachments",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkDocumentsDocumentAttachments entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkDocumentsDocumentAttachments"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/Documents/Documents": {
      "description": "This end point returns one or more documents of a given company.This bulk service has a page size of 1000.\nOnly the following filters are supported for this endpoint:\nAccount, Category, Contact, Created, Creator, Division, DocumentDate, DocumentFolder, FinancialTransactionEntryID, HID, ID, Modified, Opportunity, Project, SalesInvoiceNumber, Subject, Type",
      "get": {
        "summary": "GET BulkDocumentsDocuments",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkDocumentsDocuments entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkDocumentsDocuments"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/Financial/GLAccounts": {
      "description": "Use this endpoint to retrieve a large number of G/L accounts. To view more information or maintain individual G/L accounts you can use the following end point Exact Online REST API - GLAccounts.This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nAssimilatedVATBox, BelcotaxType, Code, Costcenter, Costunit, Created, Creator, ID, Modified, Modifier, PrivateGLAccount, SearchCode, Type, VATNonDeductibleGLAccount, YearEndCostGLAccount, YearEndReflectionGLAccount",
      "get": {
        "summary": "GET BulkFinancialGLAccounts",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkFinancialGLAccounts entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkFinancialGLAccounts"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/Financial/GLClassifications": {
      "description": "Use this endpoint to retrieve a large number of G/L Classifications To view more information of the G/L classification you can use the following end point Exact Online REST API - GLClassifications.This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nCode, ID, Name, Parent, TaxonomyNamespace, Type",
      "get": {
        "summary": "GET BulkFinancialGLClassifications",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkFinancialGLClassifications entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkFinancialGLClassifications"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/Financial/TransactionLines": {
      "description": "Use this endpoint to read all kind of transactions created in Exact.Find more details on the attributes in the relevant topic description for BankEntries, CashEntries, GeneralJournalEntries, PurchaseEntries or SalesEntries.\nThis bulk service has a page size of 1000.",
      "get": {
        "summary": "GET BulkFinancialTransactionLines",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkFinancialTransactionLines entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkFinancialTransactionLines"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/Logistics/Items": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.",
      "get": {
        "summary": "GET BulkLogisticsItems",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkLogisticsItems entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkLogisticsItems"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/Logistics/SalesItemPrices": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nAccount, EndDate, ID, Item, Price, Quantity, StartDate, Unit",
      "get": {
        "summary": "GET BulkLogisticsSalesItemPrices",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkLogisticsSalesItemPrices entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkLogisticsSalesItemPrices"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/Project/ProjectWBS": {
      "description": "The results are not ordered by WBS sequence\nThis bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nDefaultItem, ID, Modified, Parent, Project, ProjectTerm, Type",
      "get": {
        "summary": "GET BulkProjectProjectWBS",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The BulkProjectProjectWBS entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkProjectProjectWBS"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/SalesInvoice/SalesInvoiceLines": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.",
      "get": {
        "summary": "GET BulkSalesInvoiceSalesInvoiceLines",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkSalesInvoiceSalesInvoiceLines entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkSalesInvoiceSalesInvoiceLines"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/SalesInvoice/SalesInvoices": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.",
      "get": {
        "summary": "GET BulkSalesInvoiceSalesInvoices",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkSalesInvoiceSalesInvoices entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkSalesInvoiceSalesInvoices"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/SalesOrder/GoodsDeliveries": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nDocument, EntryID, Warehouse",
      "get": {
        "summary": "GET BulkSalesOrderGoodsDeliveries",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkSalesOrderGoodsDeliveries entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkSalesOrderGoodsDeliveries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/SalesOrder/GoodsDeliveryLines": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.\nOnly the following filters are supported for this endpoint:\nEntryID, ID, Item",
      "get": {
        "summary": "GET BulkSalesOrderGoodsDeliveryLines",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkSalesOrderGoodsDeliveryLines entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkSalesOrderGoodsDeliveryLines"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/SalesOrder/SalesOrderLines": {
      "description": "This bulk service has a page size of 1000.",
      "get": {
        "summary": "GET BulkSalesOrderSalesOrderLines",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkSalesOrderSalesOrderLines entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkSalesOrderSalesOrderLines"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/bulk/SalesOrder/SalesOrders": {
      "description": "This bulk service has a page size of 1000.\nIt is mandatory to provide the $select query option with a selection of one or more of the resource properties.",
      "get": {
        "summary": "GET BulkSalesOrderSalesOrders",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of BulkSalesOrderSalesOrders entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkSalesOrderSalesOrders"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/beta/{division}/cashflow/AllocationRule": {
      "description": "",
      "get": {
        "summary": "GET CashflowAllocationRule",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The CashflowAllocationRule entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashflowAllocationRule"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST CashflowAllocationRule",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The CashflowAllocationRule entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashflowAllocationRule"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/beta/{division}/cashflow/AllocationRule({id})": {
      "description": "",
      "put": {
        "summary": "PUT CashflowAllocationRule",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the CashflowAllocationRule",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The CashflowAllocationRule entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashflowAllocationRule"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PUT operation successful"
          }
        }
      },
      "delete": {
        "summary": "DELETE CashflowAllocationRule",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the CashflowAllocationRule",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/cashflow/Banks": {
      "description": "Use this endpoint to get all the banks that are supported by EOL.",
      "get": {
        "summary": "GET CashflowBanks",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of CashflowBanks entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashflowBanks"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/cashflow/DirectDebitMandates": {
      "description": "Use this endpoint to retrieve, create, update or delete a mandate of your administration. For more information about mandate, you can visit the following help file Mandates.",
      "get": {
        "summary": "GET CashflowDirectDebitMandates",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of CashflowDirectDebitMandates entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashflowDirectDebitMandates"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST CashflowDirectDebitMandates",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The CashflowDirectDebitMandates entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashflowDirectDebitMandates"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/cashflow/DirectDebitMandates({id})": {
      "description": "Use this endpoint to retrieve, create, update or delete a mandate of your administration. For more information about mandate, you can visit the following help file Mandates.",
      "put": {
        "summary": "PUT CashflowDirectDebitMandates",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the CashflowDirectDebitMandates",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The CashflowDirectDebitMandates entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashflowDirectDebitMandates"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PUT operation successful"
          }
        }
      },
      "delete": {
        "summary": "DELETE CashflowDirectDebitMandates",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the CashflowDirectDebitMandates",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DELETE operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/cashflow/PaymentConditions": {
      "description": "Use this endpoint to retrieve or create payment conditions to be used by your invoices. For more information about payment condition, you can visit the following help file Payment Condition.",
      "get": {
        "summary": "GET CashflowPaymentConditions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of CashflowPaymentConditions entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashflowPaymentConditions"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST CashflowPaymentConditions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The CashflowPaymentConditions entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashflowPaymentConditions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/cashflow/Payments": {
      "description": "Use this endpoint to get an overview of all the payments in your administration. Paymentlines are grouped by own bank account, account bank account, payment reference, payment method, entry date and status. Payments of one entry have the same TransactionId. Among other things, with this endpoint you can get information like the payments status (e.g. Open, Processed) or when the payment is due.PUT to this endpoint allows you to prepare an invoice for payment by adjusting the payment method, description and payment reference.",
      "get": {
        "summary": "GET CashflowPayments",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of CashflowPayments entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashflowPayments"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/cashflow/Payments({id})": {
      "description": "Use this endpoint to get an overview of all the payments in your administration. Paymentlines are grouped by own bank account, account bank account, payment reference, payment method, entry date and status. Payments of one entry have the same TransactionId. Among other things, with this endpoint you can get information like the payments status (e.g. Open, Processed) or when the payment is due.PUT to this endpoint allows you to prepare an invoice for payment by adjusting the payment method, description and payment reference.",
      "put": {
        "summary": "PUT CashflowPayments",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the CashflowPayments",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The CashflowPayments entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashflowPayments"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "PUT operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/cashflow/ProcessPayments": {
      "description": "Use this endpoint to process a payment.For more information about processing payment you can go to the following help files Payment process in Exact Online, Process payments.",
      "post": {
        "summary": "POST CashflowProcessPayments",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The CashflowProcessPayments entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashflowProcessPayments"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "POST operation successful"
          }
        }
      }
    },
    "/api/v1/{division}/cashflow/Receivables": {
      "description": "Use this endpoint to get an overview of all the payment to be received in your administration. Paymentlines are grouped by own bank account, account bank account, payment reference, payment method, entry date and status. Payments of one entry have the same TransactionId. Among other things, with this endpoint you can get information like the payments status (e.g. Open, Processed) or when the collection is due.PUT to this endpoint allows you to prepare collections for sales invoices by adjusting the payment method,description and payment reference.",
      "get": {
        "summary": "GET CashflowReceivables",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of CashflowReceivables entities.",
            "content": {
[...]
