{
  "openapi": "3.0.4",
  "info": {
    "title": "Exact Online REST API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://start.exactonline.nl",
      "description": "Exact Online REST API Endpoint"
    }
  ],
  "paths": {
    "/api/v1/{division}/manufacturing/TimedTimeTransactions": {
      "description": "This endpoint enables user to start, stop and delete an operation for a shop order.",
      "get": {
        "summary": "GET ManufacturingTimedTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return, e.g., `100`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip, e.g., `10`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order by field, e.g., `ID desc`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, e.g., `true`",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include inline count, e.g., `allpages`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, e.g., `ParentEntity`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of ManufacturingTimedTimeTransactions entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManufacturingTimedTimeTransactions_Response"
                }
              }
            }
          },
          "400": {
            "description": "GET operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST ManufacturingTimedTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The ManufacturingTimedTimeTransactions entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManufacturingTimedTimeTransactionsPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "POST operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManufacturingTimedTimeTransactionsPost_Response"
                }
              }
            }
          },
          "400": {
            "description": "POST operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/manufacturing/TimedTimeTransactions({id})": {
      "description": "This endpoint enables user to start, stop and delete an operation for a shop order.",
      "put": {
        "summary": "PUT ManufacturingTimedTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the ManufacturingTimedTimeTransactions",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The ManufacturingTimedTimeTransactions entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManufacturingTimedTimeTransactionsPut"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "PUT operation successful"
          },
          "400": {
            "description": "PUT operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE ManufacturingTimedTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the ManufacturingTimedTimeTransactions",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "DELETE operation successful"
          },
          "400": {
            "description": "DELETE operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/manufacturing/TimeTransactions": {
      "description": "This endpoint enables users to maintain time entries. Time entries cannot be approved using this endpoint.",
      "get": {
        "summary": "GET ManufacturingTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return, e.g., `100`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip, e.g., `10`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order by field, e.g., `ID desc`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, e.g., `true`",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include inline count, e.g., `allpages`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, e.g., `ParentEntity`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of ManufacturingTimeTransactions entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManufacturingTimeTransactions_Response"
                }
              }
            }
          },
          "400": {
            "description": "GET operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST ManufacturingTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The ManufacturingTimeTransactions entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManufacturingTimeTransactionsPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "POST operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManufacturingTimeTransactionsPost_Response"
                }
              }
            }
          },
          "400": {
            "description": "POST operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/manufacturing/TimeTransactions({id})": {
      "description": "This endpoint enables users to maintain time entries. Time entries cannot be approved using this endpoint.",
      "put": {
        "summary": "PUT ManufacturingTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the ManufacturingTimeTransactions",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The ManufacturingTimeTransactions entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManufacturingTimeTransactionsPut"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "PUT operation successful"
          },
          "400": {
            "description": "PUT operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE ManufacturingTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the ManufacturingTimeTransactions",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "DELETE operation successful"
          },
          "400": {
            "description": "DELETE operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/project/TimeTransactions": {
      "description": "Use this endpoint to create, read, update and delete time transaction of the user.Note: For creating a time transaction, it is mandatory to supply one of the following properties   • Account   • Project   • Subscription &nbsp; And always supply   • Item   • Quantity",
      "get": {
        "summary": "GET ProjectTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return, e.g., `100`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip, e.g., `10`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order by field, e.g., `ID desc`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, e.g., `true`",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include inline count, e.g., `allpages`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, e.g., `ParentEntity`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of ProjectTimeTransactions entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectTimeTransactions_Response"
                }
              }
            }
          },
          "400": {
            "description": "GET operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST ProjectTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The ProjectTimeTransactions entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectTimeTransactionsPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "POST operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectTimeTransactionsPost_Response"
                }
              }
            }
          },
          "400": {
            "description": "POST operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/project/TimeTransactions({id})": {
      "description": "Use this endpoint to create, read, update and delete time transaction of the user.Note: For creating a time transaction, it is mandatory to supply one of the following properties   • Account   • Project   • Subscription &nbsp; And always supply   • Item   • Quantity",
      "put": {
        "summary": "PUT ProjectTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the ProjectTimeTransactions",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The ProjectTimeTransactions entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectTimeTransactionsPut"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "PUT operation successful"
          },
          "400": {
            "description": "PUT operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE ProjectTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the ProjectTimeTransactions",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "DELETE operation successful"
          },
          "400": {
            "description": "DELETE operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/read/manufacturing/RecentTimeTransactions": {
      "description": "",
      "get": {
        "summary": "GET ReadManufacturingRecentTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return, e.g., `100`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip, e.g., `10`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order by field, e.g., `ID desc`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, e.g., `true`",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include inline count, e.g., `allpages`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, e.g., `ParentEntity`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of ReadManufacturingRecentTimeTransactions entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadManufacturingRecentTimeTransactions_Response"
                }
              }
            }
          },
          "400": {
            "description": "GET operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/read/manufacturing/StartedTimedTimeTransactions": {
      "description": "",
      "get": {
        "summary": "GET ReadManufacturingStartedTimedTimeTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return, e.g., `100`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip, e.g., `10`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order by field, e.g., `ID desc`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, e.g., `true`",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include inline count, e.g., `allpages`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, e.g., `ParentEntity`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of ReadManufacturingStartedTimedTimeTransactions entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadManufacturingStartedTimedTimeTransactions_Response"
                }
              }
            }
          },
          "400": {
            "description": "GET operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/sync/Project/TimeCostTransactions": {
      "description": "The TimeCostTransactions sync api returns both time and cost transactions. To filter out time or cost transactions you need to filter only on property Type. The API does not allow to filter on these fields. Filtering need to be done after receiving the records.\nThe sync api's have the goal to keep the data between Exact Online and a 3rd party application the same.\nThe sync api's are all based on row versioning and because of that it is guaranteed to be unique. Every time an existing record is changed or a new record is inserted, the row versioning value is higher than the highest available value at that time. When retrieving records via these api's also a timestamp value is returned. The highest timestamp value of the records returned should be stored on client side. Next time records are retrieved, the timestamp value stored on client side should be provided as parameter. The api will then return only the new and changed records. Using this method is more reliable than using modified date, since it can happen that multiple records have the same modified date and therefore same record can be returned more than once. This will not happen when using timestamp.\nThe sync api's are also developed to give best performance when retrieving records. Because of performance and the intended purpose of the api's, only the timestamp field is allowed as parameter.\nThe single and bulk api’s are designed for a different purpose. They provide ability to retrieve specific record or a set of records which meet certain conditions.\nIn case the division is moved to another database in Exact Online the timestamp values will be reset. Therefore, after a division is moved all data needs to be synchronized again in order to get the new timestamp values. To see if a division was moved, the /api/v1/{division}/system/Divisions can be used. The property DivisionMoveDate indicated at which date a division was moved and this date can be used to determine if it is needed to synchronize all data again.\nThe API has two important key fields, the Timestamp and the ID. The ID should be used to uniquely identify the record and will never change\n. The Timestamp is used to get new or changed records in an efficient way and will change for every change made to the record.\nThe timestamp value returned has no relation with actual date or time. As such it cannot be converted to a date\\time value. The timestamp is a rowversion value.\nWhen you use the sync or delete api for the first time for a particular division, filter on timestamp greater than 1.\nOr use the SyncTimestamp API to GET a timestamp from a certain date.",
      "get": {
        "summary": "GET SyncProjectTimeCostTransactions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `Timestamp gt 5`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return, e.g., `100`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip, e.g., `10`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order by field, e.g., `ID desc`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, e.g., `true`",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include inline count, e.g., `allpages`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, e.g., `ParentEntity`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of SyncProjectTimeCostTransactions entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncProjectTimeCostTransactions_Response"
                }
              }
            }
          },
          "400": {
            "description": "GET operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/current/Me": {
      "description": "This end point retrieves information about the current user.",
      "get": {
        "summary": "GET SystemSystemMe",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return, e.g., `100`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip, e.g., `10`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order by field, e.g., `ID desc`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, e.g., `true`",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include inline count, e.g., `allpages`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, e.g., `ParentEntity`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The SystemSystemMe entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemSystemMe_Response"
                }
              }
            }
          },
          "400": {
            "description": "GET operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/webhooks/WebhookSubscriptions": {
      "description": "Use this endpoint to subscribe your app to one or more webhook topics.For more information about the functionality see Exact Online webhooks.",
      "get": {
        "summary": "GET WebhooksWebhookSubscriptions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter, e.g., `ID eq guid'00000000-0000-0000-0000-000000000000'`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of fields to return, e.g., `ID`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return, e.g., `100`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip, e.g., `10`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order by field, e.g., `ID desc`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Include count of items, e.g., `true`",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include inline count, e.g., `allpages`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, e.g., `ParentEntity`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of WebhooksWebhookSubscriptions entities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhooksWebhookSubscriptions_Response"
                }
              }
            }
          },
          "400": {
            "description": "GET operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST WebhooksWebhookSubscriptions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "The WebhooksWebhookSubscriptions entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhooksWebhookSubscriptionsPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "POST operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhooksWebhookSubscriptionsPost_Response"
                }
              }
            }
          },
          "400": {
            "description": "POST operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{division}/webhooks/WebhookSubscriptions({id})": {
      "description": "Use this endpoint to subscribe your app to one or more webhook topics.For more information about the functionality see Exact Online webhooks.",
      "put": {
        "summary": "PUT WebhooksWebhookSubscriptions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the WebhooksWebhookSubscriptions",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The WebhooksWebhookSubscriptions entity to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhooksWebhookSubscriptionsPut"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "PUT operation successful"
          },
          "400": {
            "description": "PUT operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE WebhooksWebhookSubscriptions",
        "parameters": [
          {
            "name": "division",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier (GUID) of the WebhooksWebhookSubscriptions",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "DELETE operation successful"
          },
          "400": {
            "description": "DELETE operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExactOnlineMetadata": {
        "required": [
          "uri",
          "type"
        ],
        "type": "object",
        "properties": {
          "uri": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ODataError": {
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "required": [
              "code",
              "message"
            ],
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Service-defined error code"
              },
              "message": {
                "required": [
                  "lang",
                  "value"
                ],
                "type": "object",
                "properties": {
                  "lang": {
                    "type": "string",
                    "description": "Language code (e.g., en-us)"
                  },
                  "value": {
                    "type": "string",
                    "description": "A human-readable error message"
                  }
                }
              }
            }
          }
        }
      },
      "ManufacturingTimedTimeTransactions": {
        "required": [
          "ID",
          "Employee",
          "ShopOrderRoutingStepPlan"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "Primary key",
            "format": "uuid"
          },
          "Created": {
            "type": "string",
            "description": "Creation date",
            "format": "date-time"
          },
          "Creator": {
            "type": "string",
            "description": "User ID of creator",
            "format": "uuid"
          },
          "CreatorFullName": {
            "type": "string",
            "description": "Name of creator"
          },
          "Division": {
            "type": "integer",
            "description": "Division code",
            "format": "int32"
          },
          "Employee": {
            "type": "string",
            "description": "ID of employee",
            "format": "uuid"
          },
          "EmployeeFullName": {
            "type": "string",
            "description": "Name of employee"
          },
          "EndTime": {
            "type": "string",
            "description": "Time that operation was stopped",
            "format": "date-time"
          },
          "IsOperationFinished": {
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "description": "Is the operation finished?",
            "format": "int32"
          },
          "LaborHours": {
            "type": "number",
            "description": "Adjustable labor hours",
            "format": "double"
          },
          "MachineHours": {
            "type": "number",
            "description": "Adjustable machine hours",
            "format": "double"
          },
          "Modified": {
            "type": "string",
            "description": "Modified date",
            "format": "date-time"
          },
          "Modifier": {
            "type": "string",
            "description": "User ID of modifier",
            "format": "uuid"
          },
          "ModifierFullName": {
            "type": "string",
            "description": "Name of modifier"
          },
          "Notes": {
            "type": "string",
            "description": "Notes - viewable in data collection"
          },
          "Operation": {
            "type": "string",
            "description": "ID of operation",
            "format": "uuid"
          },
          "OperationCode": {
            "type": "string",
            "description": "Code of operation"
          },
          "OperationDescription": {
            "type": "string",
            "description": "Description of operation"
          },
          "PercentComplete": {
            "type": "number",
            "description": "Percentage of operation completed within time period",
            "format": "double"
          },
          "ProducedQuantity": {
            "type": "number",
            "description": "Quantity of make item produced within time period",
            "format": "double"
          },
          "ProductionArea": {
            "type": "string",
            "description": "Production area of the work center",
            "format": "uuid"
          },
          "ProductionAreaCode": {
            "type": "string",
            "description": "Code of production area of the work center"
          },
          "ProductionAreaDescription": {
            "type": "string",
            "description": "Description of production area of the work center"
          },
          "ShopOrder": {
            "type": "string",
            "description": "ID of shop order",
            "format": "uuid"
          },
          "ShopOrderDescription": {
            "type": "string",
            "description": "Description of shop order"
          },
          "ShopOrderNumber": {
            "type": "integer",
            "description": "Number of shop order",
            "format": "int32"
          },
          "ShopOrderRoutingStepPlan": {
            "type": "string",
            "description": "Shop order routing step where work occurred",
            "format": "uuid"
          },
          "ShopOrderRoutingStepPlanDescription": {
            "type": "string",
            "description": "Description of the routing step plan"
          },
          "ShopOrderRoutingStepPlanRemainingRunHours": {
            "type": "number",
            "description": "Remaining planned run hours of the routing step plan",
            "format": "double"
          },
          "ShopOrderRoutingStepPlanRemainingSetupHours": {
            "type": "number",
            "description": "Remaining planned setup hours of the routing step plan",
            "format": "double"
          },
          "Source": {
            "type": "integer",
            "description": "Source of the timed time transaction",
            "format": "int32"
          },
          "StartTime": {
            "type": "string",
            "description": "Time that operation was started",
            "format": "date-time"
          },
          "Status": {
            "type": "integer",
            "description": "Status of the timed time transaction",
            "format": "int32"
          },
          "Type": {
            "type": "integer",
            "description": "Type of the timed time transaction: Setup = 10, Run = 20",
            "format": "int32"
          },
          "Workcenter": {
            "type": "string",
            "description": "Work center where work occurred",
            "format": "uuid"
          },
          "WorkcenterCode": {
            "type": "string",
            "description": "Code of the work center"
          },
          "WorkcenterDescription": {
            "type": "string",
            "description": "Description of the work center"
          }
        }
      },
      "ManufacturingTimedTimeTransactions_Array": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ManufacturingTimedTimeTransactions"
        }
      },
      "ManufacturingTimedTimeTransactions_Results": {
        "required": [
          "results"
        ],
        "type": "object",
        "properties": {
          "results": {
            "$ref": "#/components/schemas/ManufacturingTimedTimeTransactions_Array"
          }
        }
      },
      "ManufacturingTimedTimeTransactions_Response": {
        "required": [
          "d"
        ],
        "type": "object",
        "properties": {
          "d": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ManufacturingTimedTimeTransactions_Array"
              },
              {
                "$ref": "#/components/schemas/ManufacturingTimedTimeTransactions_Results"
              }
            ],
            "discriminator": {
              "propertyName": "results",
              "mapping": {
                "_Results": "#/components/schemas/ManufacturingTimedTimeTransactions_Results"
              }
            }
          }
        },
        "description": "A collection of ManufacturingTimedTimeTransactions entities."
      },
      "ManufacturingTimedTimeTransactionsPost": {
        "required": [
          "ID",
          "Employee",
          "ShopOrderRoutingStepPlan"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "Primary key",
            "format": "uuid"
          },
          "Employee": {
            "type": "string",
            "description": "ID of employee",
            "format": "uuid"
          },
          "EndTime": {
            "type": "string",
            "description": "Time that operation was stopped",
            "format": "date-time"
          },
          "IsOperationFinished": {
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "description": "Is the operation finished?",
            "format": "int32"
          },
          "LaborHours": {
            "type": "number",
            "description": "Adjustable labor hours",
            "format": "double"
          },
          "MachineHours": {
            "type": "number",
            "description": "Adjustable machine hours",
            "format": "double"
          },
          "Notes": {
            "type": "string",
            "description": "Notes - viewable in data collection"
          },
          "PercentComplete": {
            "type": "number",
            "description": "Percentage of operation completed within time period",
            "format": "double"
          },
          "ProducedQuantity": {
            "type": "number",
            "description": "Quantity of make item produced within time period",
            "format": "double"
          },
          "ProductionArea": {
            "type": "string",
            "description": "Production area of the work center",
            "format": "uuid"
          },
          "ProductionAreaCode": {
            "type": "string",
            "description": "Code of production area of the work center"
          },
          "ProductionAreaDescription": {
            "type": "string",
            "description": "Description of production area of the work center"
          },
          "ShopOrderRoutingStepPlan": {
            "type": "string",
            "description": "Shop order routing step where work occurred",
            "format": "uuid"
          },
          "ShopOrderRoutingStepPlanRemainingRunHours": {
            "type": "number",
            "description": "Remaining planned run hours of the routing step plan",
            "format": "double"
          },
          "ShopOrderRoutingStepPlanRemainingSetupHours": {
            "type": "number",
            "description": "Remaining planned setup hours of the routing step plan",
            "format": "double"
          },
          "Source": {
            "type": "integer",
            "description": "Source of the timed time transaction",
            "format": "int32"
          },
          "StartTime": {
            "type": "string",
            "description": "Time that operation was started",
            "format": "date-time"
          },
          "Status": {
            "type": "integer",
            "description": "Status of the timed time transaction",
            "format": "int32"
          },
          "Type": {
            "type": "integer",
            "description": "Type of the timed time transaction: Setup = 10, Run = 20",
            "format": "int32"
          },
          "Workcenter": {
            "type": "string",
            "description": "Work center where work occurred",
            "format": "uuid"
          }
        }
      },
      "ManufacturingTimedTimeTransactionsPost_Response": {
        "required": [
          "d"
        ],
        "type": "object",
        "properties": {
          "d": {
            "$ref": "#/components/schemas/ManufacturingTimedTimeTransactions"
          }
        },
        "description": "A collection of ManufacturingTimedTimeTransactions entities."
      },
      "ManufacturingTimedTimeTransactionsPut": {
        "required": [
          "ID",
          "Employee",
          "ShopOrderRoutingStepPlan"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "Primary key",
            "format": "uuid"
          },
          "Employee": {
            "type": "string",
            "description": "ID of employee",
            "format": "uuid"
          },
          "EndTime": {
            "type": "string",
            "description": "Time that operation was stopped",
            "format": "date-time"
          },
          "IsOperationFinished": {
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "description": "Is the operation finished?",
            "format": "int32"
          },
          "LaborHours": {
            "type": "number",
            "description": "Adjustable labor hours",
            "format": "double"
          },
          "MachineHours": {
            "type": "number",
            "description": "Adjustable machine hours",
            "format": "double"
          },
          "Notes": {
            "type": "string",
            "description": "Notes - viewable in data collection"
          },
          "PercentComplete": {
            "type": "number",
            "description": "Percentage of operation completed within time period",
            "format": "double"
          },
          "ProducedQuantity": {
            "type": "number",
            "description": "Quantity of make item produced within time period",
            "format": "double"
          },
          "ProductionArea": {
            "type": "string",
            "description": "Production area of the work center",
            "format": "uuid"
          },
          "ProductionAreaCode": {
            "type": "string",
            "description": "Code of production area of the work center"
          },
          "ProductionAreaDescription": {
            "type": "string",
            "description": "Description of production area of the work center"
          },
          "ShopOrderRoutingStepPlan": {
            "type": "string",
            "description": "Shop order routing step where work occurred",
            "format": "uuid"
          },
          "ShopOrderRoutingStepPlanRemainingRunHours": {
            "type": "number",
            "description": "Remaining planned run hours of the routing step plan",
            "format": "double"
          },
          "ShopOrderRoutingStepPlanRemainingSetupHours": {
            "type": "number",
            "description": "Remaining planned setup hours of the routing step plan",
            "format": "double"
          },
          "Source": {
            "type": "integer",
            "description": "Source of the timed time transaction",
            "format": "int32"
          },
          "StartTime": {
            "type": "string",
            "description": "Time that operation was started",
            "format": "date-time"
          },
          "Status": {
            "type": "integer",
            "description": "Status of the timed time transaction",
            "format": "int32"
          },
          "Type": {
            "type": "integer",
            "description": "Type of the timed time transaction: Setup = 10, Run = 20",
            "format": "int32"
          },
          "Workcenter": {
            "type": "string",
            "description": "Work center where work occurred",
            "format": "uuid"
          }
        }
      },
      "ManufacturingTimedTimeTransactionsDelete": {
        "required": [
          "ID"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "Primary key",
            "format": "uuid"
          }
        }
      },
      "ManufacturingTimeTransactions": {
        "required": [
          "ID",
          "Employee",
          "Hours"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "Primary key",
            "format": "uuid"
          },
          "Activity": {
            "type": "integer",
            "description": "Manufacturing time type: Setup = 10, Run = 20",
            "format": "int32"
          },
          "Created": {
            "type": "string",
            "description": "Creation date",
            "format": "date-time"
          },
          "Creator": {
            "type": "string",
            "description": "User ID of creator",
            "format": "uuid"
          },
          "CreatorFullName": {
            "type": "string",
            "description": "Name of creator"
          },
          "Date": {
            "type": "string",
            "description": "Date",
            "format": "date-time"
          },
          "Division": {
            "type": "integer",
            "description": "Division code",
            "format": "int32"
          },
          "Employee": {
            "type": "string",
            "description": "Employee linked to the transaction",
            "format": "uuid"
          },
          "Hours": {
            "type": "number",
            "description": "Machine hours",
            "format": "double"
          },
          "IsOperationFinished": {
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "description": "Is the operation finished?",
            "format": "int32"
          },
          "LaborHours": {
            "type": "number",
            "description": "Labor Hours on the operation",
            "format": "double"
          },
          "Modified": {
            "type": "string",
            "description": "Last modified date",
            "format": "date-time"
          },
          "Modifier": {
            "type": "string",
            "description": "User ID of modifier",
            "format": "uuid"
          },
          "ModifierFullName": {
            "type": "string",
            "description": "Name of modifier"
          },
          "Notes": {
            "type": "string",
            "description": "Notes linked to the time transaction"
          },
          "PercentComplete": {
            "type": "number",
            "description": "Percentage of the operation that is complete",
            "format": "double"
          },
          "Quantity": {
            "type": "number",
            "description": "Quantity",
            "format": "double"
          },
          "RoutingStepPlan": {
            "type": "string",
            "description": "Routing step linked to the transaction",
            "format": "uuid"
          },
          "ShopOrder": {
            "type": "string",
            "description": "Shop order linked to the transaction",
            "format": "uuid"
          },
          "Status": {
            "type": "integer",
            "description": "Status of the transaction: Draft = 1, Rejected = 2, Submitted = 10, Final = 20",
            "format": "int32"
          },
          "TimedTimeTransaction": {
            "type": "string",
            "description": "Timed time transaction linked to the transaction",
            "format": "uuid"
          },
          "WorkCenter": {
            "type": "string",
            "description": "Workcenter linked to the transaction",
            "format": "uuid"
          }
        }
      },
      "ManufacturingTimeTransactions_Array": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ManufacturingTimeTransactions"
        }
      },
      "ManufacturingTimeTransactions_Results": {
        "required": [
          "results"
        ],
        "type": "object",
        "properties": {
          "results": {
            "$ref": "#/components/schemas/ManufacturingTimeTransactions_Array"
          }
        }
      },
      "ManufacturingTimeTransactions_Response": {
        "required": [
          "d"
        ],
        "type": "object",
        "properties": {
          "d": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ManufacturingTimeTransactions_Array"
              },
              {
                "$ref": "#/components/schemas/ManufacturingTimeTransactions_Results"
              }
            ],
            "discriminator": {
              "propertyName": "results",
              "mapping": {
                "_Results": "#/components/schemas/ManufacturingTimeTransactions_Results"
              }
            }
          }
        },
        "description": "A collection of ManufacturingTimeTransactions entities."
      },
      "ManufacturingTimeTransactionsPost": {
        "required": [
          "ID",
          "Employee",
          "Hours"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "Primary key",
            "format": "uuid"
          },
          "Activity": {
            "type": "integer",
            "description": "Manufacturing time type: Setup = 10, Run = 20",
            "format": "int32"
          },
          "Date": {
            "type": "string",
            "description": "Date",
            "format": "date-time"
          },
          "Employee": {
            "type": "string",
            "description": "Employee linked to the transaction",
            "format": "uuid"
          },
          "Hours": {
            "type": "number",
            "description": "Machine hours",
            "format": "double"
          },
          "IsOperationFinished": {
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "description": "Is the operation finished?",
            "format": "int32"
          },
          "LaborHours": {
            "type": "number",
            "description": "Labor Hours on the operation",
            "format": "double"
          },
          "Notes": {
            "type": "string",
            "description": "Notes linked to the time transaction"
          },
          "PercentComplete": {
            "type": "number",
            "description": "Percentage of the operation that is complete",
            "format": "double"
          },
          "Quantity": {
            "type": "number",
            "description": "Quantity",
            "format": "double"
          },
          "RoutingStepPlan": {
            "type": "string",
            "description": "Routing step linked to the transaction",
            "format": "uuid"
          },
          "ShopOrder": {
            "type": "string",
            "description": "Shop order linked to the transaction",
            "format": "uuid"
          },
          "Status": {
            "type": "integer",
            "description": "Status of the transaction: Draft = 1, Rejected = 2, Submitted = 10, Final = 20",
            "format": "int32"
          },
          "TimedTimeTransaction": {
            "type": "string",
            "description": "Timed time transaction linked to the transaction",
            "format": "uuid"
          },
          "WorkCenter": {
            "type": "string",
            "description": "Workcenter linked to the transaction",
            "format": "uuid"
          }
        }
      },
      "ManufacturingTimeTransactionsPost_Response": {
        "required": [
          "d"
        ],
        "type": "object",
        "properties": {
          "d": {
            "$ref": "#/components/schemas/ManufacturingTimeTransactions"
          }
        },
        "description": "A collection of ManufacturingTimeTransactions entities."
      },
      "ManufacturingTimeTransactionsPut": {
        "required": [
          "ID",
          "Employee",
          "Hours"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "Primary key",
            "format": "uuid"
          },
          "Activity": {
            "type": "integer",
            "description": "Manufacturing time type: Setup = 10, Run = 20",
            "format": "int32"
          },
          "Date": {
            "type": "string",
            "description": "Date",
            "format": "date-time"
          },
          "Employee": {
            "type": "string",
            "description": "Employee linked to the transaction",
            "format": "uuid"
          },
          "Hours": {
            "type": "number",
            "description": "Machine hours",
            "format": "double"
          },
          "IsOperationFinished": {
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "description": "Is the operation finished?",
            "format": "int32"
          },
          "LaborHours": {
            "type": "number",
            "description": "Labor Hours on the operation",
            "format": "double"
          },
          "Notes": {
            "type": "string",
            "description": "Notes linked to the time transaction"
          },
          "PercentComplete": {
            "type": "number",
            "description": "Percentage of the operation that is complete",
            "format": "double"
          },
          "Quantity": {
            "type": "number",
            "description": "Quantity",
            "format": "double"
          },
          "RoutingStepPlan": {
            "type": "string",
            "description": "Routing step linked to the transaction",
            "format": "uuid"
          },
          "ShopOrder": {
            "type": "string",
            "description": "Shop order linked to the transaction",
            "format": "uuid"
          },
          "Status": {
            "type": "integer",
            "description": "Status of the transaction: Draft = 1, Rejected = 2, Submitted = 10, Final = 20",
            "format": "int32"
          },
          "TimedTimeTransaction": {
            "type": "string",
            "description": "Timed time transaction linked to the transaction",
            "format": "uuid"
          },
          "WorkCenter": {
            "type": "string",
            "description": "Workcenter linked to the transaction",
            "format": "uuid"
          }
        }
      },
      "ManufacturingTimeTransactionsDelete": {
        "required": [
          "ID"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "Primary key",
            "format": "uuid"
          }
        }
      },
      "ProjectTimeTransactions": {
        "required": [
          "ID",
          "Item",
          "Quantity"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Account": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "AccountName": {
            "type": "string",
            "description": ""
          },
          "Activity": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "ActivityDescription": {
            "type": "string",
            "description": ""
          },
          "AmountFC": {
            "type": "number",
            "description": "",
            "format": "double"
          },
          "Attachment": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Created": {
            "type": "string",
            "description": "",
            "format": "date-time"
          },
          "Creator": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "CreatorFullName": {
            "type": "string",
            "description": ""
          },
          "Currency": {
            "type": "string",
            "description": ""
          },
          "CustomField": {
            "type": "string",
            "description": ""
          },
          "Date": {
            "type": "string",
            "description": "",
            "format": "date-time"
          },
          "Division": {
            "type": "integer",
            "description": "",
            "format": "int32"
          },
          "DivisionDescription": {
            "type": "string",
            "description": ""
          },
          "Employee": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "EndTime": {
            "type": "string",
            "description": "",
            "format": "date-time"
          },
          "EntryNumber": {
            "type": "integer",
            "description": "",
            "format": "int32"
          },
          "ErrorText": {
            "type": "string",
            "description": ""
          },
          "HourStatus": {
            "type": "integer",
            "description": "",
            "format": "int16"
          },
          "Item": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "ItemDescription": {
            "type": "string",
            "description": ""
          },
          "ItemDivisable": {
            "type": "boolean",
            "description": ""
          },
          "Modified": {
            "type": "string",
            "description": "",
            "format": "date-time"
          },
          "Modifier": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "ModifierFullName": {
            "type": "string",
            "description": ""
          },
          "Notes": {
            "type": "string",
            "description": ""
          },
          "PriceFC": {
            "type": "number",
            "description": "",
            "format": "double"
          },
          "Project": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "ProjectAccount": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "ProjectAccountCode": {
            "type": "string",
            "description": ""
          },
          "ProjectAccountName": {
            "type": "string",
            "description": ""
          },
          "ProjectCode": {
            "type": "string",
            "description": ""
          },
          "ProjectDescription": {
            "type": "string",
            "description": ""
          },
          "Quantity": {
            "type": "number",
            "description": "",
            "format": "double"
          },
          "StartTime": {
            "type": "string",
            "description": "",
            "format": "date-time"
          },
          "Subscription": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "SubscriptionAccount": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "SubscriptionAccountCode": {
            "type": "string",
            "description": ""
          },
          "SubscriptionAccountName": {
            "type": "string",
            "description": ""
          },
          "SubscriptionDescription": {
            "type": "string",
            "description": ""
          },
          "SubscriptionNumber": {
            "type": "integer",
            "description": "",
            "format": "int32"
          },
          "Type": {
            "type": "integer",
            "description": "",
            "format": "int16"
          }
        }
      },
      "ProjectTimeTransactions_Array": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ProjectTimeTransactions"
        }
      },
      "ProjectTimeTransactions_Results": {
        "required": [
          "results"
        ],
        "type": "object",
        "properties": {
          "results": {
            "$ref": "#/components/schemas/ProjectTimeTransactions_Array"
          }
        }
      },
      "ProjectTimeTransactions_Response": {
        "required": [
          "d"
        ],
        "type": "object",
        "properties": {
          "d": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ProjectTimeTransactions_Array"
              },
              {
                "$ref": "#/components/schemas/ProjectTimeTransactions_Results"
              }
            ],
            "discriminator": {
              "propertyName": "results",
              "mapping": {
                "_Results": "#/components/schemas/ProjectTimeTransactions_Results"
              }
            }
          }
        },
        "description": "A collection of ProjectTimeTransactions entities."
      },
      "ProjectTimeTransactionsPost": {
        "required": [
          "ID",
          "Item",
          "Quantity"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Account": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Activity": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Attachment": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Currency": {
            "type": "string",
            "description": ""
          },
          "Date": {
            "type": "string",
            "description": "",
            "format": "date-time"
          },
          "Employee": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "EndTime": {
            "type": "string",
            "description": "",
            "format": "date-time"
          },
          "EntryNumber": {
            "type": "integer",
            "description": "",
            "format": "int32"
          },
          "ErrorText": {
            "type": "string",
            "description": ""
          },
          "HourStatus": {
            "type": "integer",
            "description": "",
            "format": "int16"
          },
          "Item": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Notes": {
            "type": "string",
            "description": ""
          },
          "Project": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Quantity": {
            "type": "number",
            "description": "",
            "format": "double"
          },
          "StartTime": {
            "type": "string",
            "description": "",
            "format": "date-time"
          },
          "Subscription": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "SubscriptionAccount": {
            "type": "string",
            "description": "",
            "format": "uuid"
          }
        }
      },
      "ProjectTimeTransactionsPost_Response": {
        "required": [
          "d"
        ],
        "type": "object",
        "properties": {
          "d": {
            "$ref": "#/components/schemas/ProjectTimeTransactions"
          }
        },
        "description": "A collection of ProjectTimeTransactions entities."
      },
      "ProjectTimeTransactionsPut": {
        "required": [
          "ID",
          "Item",
          "Quantity"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Account": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Activity": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Attachment": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Currency": {
            "type": "string",
            "description": ""
          },
          "Date": {
            "type": "string",
            "description": "",
            "format": "date-time"
          },
          "Employee": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "EndTime": {
            "type": "string",
            "description": "",
            "format": "date-time"
          },
          "EntryNumber": {
            "type": "integer",
            "description": "",
            "format": "int32"
          },
          "ErrorText": {
            "type": "string",
            "description": ""
          },
          "HourStatus": {
            "type": "integer",
            "description": "",
            "format": "int16"
          },
          "Item": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Notes": {
            "type": "string",
            "description": ""
          },
          "Project": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "Quantity": {
            "type": "number",
            "description": "",
            "format": "double"
          },
          "StartTime": {
            "type": "string",
            "description": "",
            "format": "date-time"
          },
          "Subscription": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "SubscriptionAccount": {
            "type": "string",
            "description": "",
            "format": "uuid"
          }
        }
      },
      "ProjectTimeTransactionsDelete": {
        "required": [
          "ID"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "",
            "format": "uuid"
          }
        }
      },
      "ReadManufacturingRecentTimeTransactions": {
        "required": [
          "ID"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "Primary key",
            "format": "uuid"
          },
          "CustomerCode": {
            "type": "string",
            "description": "Customer code"
          },
          "CustomerCount": {
            "type": "integer",
            "description": "Count of customers",
            "format": "int32"
          },
          "CustomerName": {
            "type": "string",
            "description": "Customer name"
          },
          "DataType": {
            "type": "integer",
            "description": "Type of data returned by query - for internal use",
            "format": "int16"
          },
          "Date": {
            "type": "string",
            "description": "Date of time entry",
            "format": "date-time"
          },
          "Employee": {
            "type": "string",
            "description": "ID of employee",
            "format": "uuid"
          },
          "EndTime": {
            "type": "string",
            "description": "Time that operation was stopped",
            "format": "date-time"
          },
          "HourStatus": {
            "type": "integer",
            "description": "Hour Status of the time transaction: Rejected = 2, Submitted = 10, Approved = 20",
            "format": "int16"
          },
          "IsFractionAllowedItem": {
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "description": "Is fraction allowed item",
            "format": "int32"
          },
          "IsOperationFinished": {
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "description": "Is the operation finished?",
            "format": "int32"
          },
          "Item": {
            "type": "string",
            "description": "Shop order make item",
            "format": "uuid"
          },
          "ItemCode": {
            "type": "string",
            "description": "Make item code"
          },
          "ItemPictureUrl": {
            "type": "string",
            "description": "Url to retrieve the item"
          },
          "ItemUnit": {
            "type": "string",
            "description": "Make item unit"
          },
          "LaborHours": {
            "type": "number",
            "description": "Adjustable labor hours",
            "format": "double"
          },
          "MachineHours": {
            "type": "number",
            "description": "Adjustable machine hours",
            "format": "double"
          },
          "Modified": {
            "type": "string",
            "description": "Modified date",
            "format": "date-time"
          },
          "Notes": {
            "type": "string",
            "description": "Notes - viewable in data collection"
          },
          "Operation": {
            "type": "string",
            "description": "Routing step operation",
            "format": "uuid"
          },
          "OperationCode": {
            "type": "string",
            "description": "Routing step operation code"
          },
          "PercentComplete": {
            "type": "number",
            "description": "Percentage of operation completed within time period",
            "format": "double"
          },
          "ProducedQuantity": {
            "type": "number",
            "description": "Quantity of make item produced within time period",
            "format": "double"
          },
          "Project": {
            "type": "string",
            "description": "Project ID of the shop order",
            "format": "uuid"
          },
          "ProjectCode": {
            "type": "string",
            "description": "Project code of the shop order"
          },
          "ProjectDescription": {
            "type": "string",
            "description": "Project description of the shop order"
          },
          "SalesOrderCount": {
            "type": "integer",
            "description": "Count of Sales order",
            "format": "int32"
          },
          "SalesOrderLineNumber": {
            "type": "integer",
            "description": "Sales order line number",
            "format": "int32"
          },
          "SalesOrderNumber": {
            "type": "integer",
            "description": "Sales order number",
            "format": "int32"
          },
          "ShopOrder": {
            "type": "string",
            "description": "Shop order",
            "format": "uuid"
          },
          "ShopOrderDescription": {
            "type": "string",
            "description": "Shop order description"
          },
          "ShopOrderNumber": {
            "type": "integer",
            "description": "Shop order number",
            "format": "int32"
          },
          "ShopOrderPlannedQuantity": {
            "type": "number",
            "description": "Shop order planned quantity",
            "format": "double"
          },
          "ShopOrderRoutingStepPlan": {
            "type": "string",
            "description": "Shop order routing step where work occurred",
            "format": "uuid"
          },
          "ShopOrderRoutingStepPlanAttendedPercentage": {
            "type": "number",
            "description": "Percentage of time attended on the routing step plan",
            "format": "double"
          },
          "ShopOrderRoutingStepPlanDescription": {
            "type": "string",
            "description": "Description of the shop order routing step where work occurred"
          },
          "StartTime": {
            "type": "string",
            "description": "Time that operation was started",
            "format": "date-time"
          },
          "Status": {
            "type": "integer",
            "description": "Status of the time transaction",
            "format": "int16"
          },
          "Type": {
            "type": "integer",
            "description": "Type of the time transaction: Setup = 10, Run = 20",
            "format": "int16"
          },
          "Warehouse": {
            "type": "string",
            "description": "ID of warehouse where shop order is finished",
            "format": "uuid"
          },
          "Workcenter": {
            "type": "string",
            "description": "Work center where work occurred",
            "format": "uuid"
          },
          "WorkcenterCode": {
            "type": "string",
            "description": "Work center code"
          }
        }
      },
      "ReadManufacturingRecentTimeTransactions_Array": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ReadManufacturingRecentTimeTransactions"
        }
      },
      "ReadManufacturingRecentTimeTransactions_Results": {
        "required": [
          "results"
        ],
        "type": "object",
        "properties": {
          "results": {
            "$ref": "#/components/schemas/ReadManufacturingRecentTimeTransactions_Array"
          }
        }
      },
      "ReadManufacturingRecentTimeTransactions_Response": {
        "required": [
          "d"
        ],
        "type": "object",
        "properties": {
          "d": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ReadManufacturingRecentTimeTransactions_Array"
              },
              {
                "$ref": "#/components/schemas/ReadManufacturingRecentTimeTransactions_Results"
              }
            ],
            "discriminator": {
              "propertyName": "results",
              "mapping": {
                "_Results": "#/components/schemas/ReadManufacturingRecentTimeTransactions_Results"
              }
            }
          }
        },
        "description": "A collection of ReadManufacturingRecentTimeTransactions entities."
      },
      "ReadManufacturingStartedTimedTimeTransactions": {
        "required": [
          "ID"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "ID": {
            "type": "string",
            "description": "Primary key",
            "format": "uuid"
          },
          "Created": {
            "type": "string",
            "description": "Creation date",
            "format": "date-time"
          },
          "Creator": {
            "type": "string",
            "description": "User ID of creator",
            "format": "uuid"
          },
          "CreatorFullName": {
            "type": "string",
            "description": "Name of creator"
          },
          "CustomerCode": {
            "type": "string",
            "description": "Customer code"
          },
          "CustomerCount": {
            "type": "integer",
            "description": "Count of customers",
            "format": "int32"
          },
          "CustomerName": {
            "type": "string",
            "description": "Customer name"
          },
          "DataType": {
            "type": "integer",
            "description": "Type of data returned by query - for internal use",
            "format": "int16"
          },
          "Division": {
            "type": "integer",
            "description": "Division code",
            "format": "int32"
          },
          "Employee": {
            "type": "string",
            "description": "ID of employee",
            "format": "uuid"
          },
          "EndTime": {
            "type": "string",
            "description": "Time that operation was stopped",
            "format": "date-time"
          },
          "IsFractionAllowedItem": {
            "type": "boolean",
            "description": "Is fraction allowed item"
          },
          "IsOperationFinished": {
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "description": "Is the operation finished?",
            "format": "int32"
          },
          "Item": {
            "type": "string",
            "description": "Shop order make item",
            "format": "uuid"
          },
          "ItemCode": {
            "type": "string",
            "description": "Make item code"
          },
          "ItemPictureUrl": {
            "type": "string",
            "description": "Url to retrieve the item"
          },
          "ItemUnit": {
            "type": "string",
            "description": "Make item unit"
          },
          "LaborHours": {
            "type": "number",
            "description": "Adjustable labor hours",
            "format": "double"
          },
          "MachineHours": {
            "type": "number",
            "description": "Adjustable machine hours",
            "format": "double"
          },
          "Modified": {
            "type": "string",
            "description": "Modified date",
            "format": "date-time"
          },
          "Modifier": {
            "type": "string",
            "description": "User ID of modifier",
            "format": "uuid"
          },
          "ModifierFullName": {
            "type": "string",
            "description": "Name of modifier"
          },
          "Notes": {
            "type": "string",
            "description": "Notes - viewable in data collection"
          },
          "Operation": {
            "type": "string",
            "description": "Routing step operation",
            "format": "uuid"
          },
          "OperationCode": {
            "type": "string",
            "description": "Routing step operation code"
          },
          "PercentComplete": {
            "type": "number",
            "description": "Percentage of operation completed within time period",
            "format": "double"
          },
          "ProducedQuantity": {
            "type": "number",
            "description": "Quantity of make item produced within time period",
            "format": "double"
          },
          "Project": {
            "type": "string",
            "description": "Project ID of the shop order",
            "format": "uuid"
          },
          "ProjectCode": {
            "type": "string",
            "description": "Project code of the shop order"
          },
          "ProjectDescription": {
            "type": "string",
            "description": "Project description of the shop order"
          },
          "SalesOrderCount": {
            "type": "integer",
            "description": "Count of Sales order",
            "format": "int32"
          },
          "SalesOrderLineNumber": {
            "type": "integer",
            "description": "Sales order line number",
            "format": "int32"
          },
          "SalesOrderNumber": {
            "type": "integer",
            "description": "Sales order number",
            "format": "int32"
          },
          "ShopOrder": {
            "type": "string",
            "description": "Shop order",
            "format": "uuid"
          },
          "ShopOrderDescription": {
            "type": "string",
            "description": "Description of the shop order"
          },
          "ShopOrderNumber": {
            "type": "integer",
            "description": "Shop order number",
            "format": "int32"
          },
          "ShopOrderPlannedQuantity": {
            "type": "number",
            "description": "Shop order planned quantity",
            "format": "double"
          },
          "ShopOrderRoutingStepPlan": {
            "type": "string",
            "description": "Shop order routing step where work occurred",
            "format": "uuid"
          },
          "ShopOrderRoutingStepPlanAttendedPercentage": {
            "type": "number",
            "description": "Percentage of time attended on the routing step plan",
            "format": "double"
          },
          "ShopOrderRoutingStepPlanDescription": {
            "type": "string",
            "description": "Description of the routing step plan"
          },
          "Source": {
            "type": "integer",
            "description": "Source of the timed time transaction",
            "format": "int16"
          },
          "StartTime": {
            "type": "string",
            "description": "Time that operation was started",
            "format": "date-time"
          },
          "Status": {
            "type": "integer",
            "description": "Status of the timed time transaction",
            "format": "int16"
          },
          "Type": {
            "type": "integer",
            "description": "Type of the timed time transaction: Setup = 10, Run = 20",
            "format": "int16"
          },
          "Warehouse": {
            "type": "string",
            "description": "ID of warehouse where shop order is finished",
            "format": "uuid"
          },
          "Workcenter": {
            "type": "string",
            "description": "Work center where work occurred",
            "format": "uuid"
          },
          "WorkcenterCode": {
            "type": "string",
            "description": "Work center code"
          },
          "WorkcenterDescription": {
            "type": "string",
            "description": "Description of the work center"
          }
        }
      },
      "ReadManufacturingStartedTimedTimeTransactions_Array": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ReadManufacturingStartedTimedTimeTransactions"
        }
      },
      "ReadManufacturingStartedTimedTimeTransactions_Results": {
        "required": [
          "results"
        ],
        "type": "object",
        "properties": {
          "results": {
            "$ref": "#/components/schemas/ReadManufacturingStartedTimedTimeTransactions_Array"
          }
        }
      },
      "ReadManufacturingStartedTimedTimeTransactions_Response": {
        "required": [
          "d"
        ],
        "type": "object",
        "properties": {
          "d": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ReadManufacturingStartedTimedTimeTransactions_Array"
              },
              {
                "$ref": "#/components/schemas/ReadManufacturingStartedTimedTimeTransactions_Results"
              }
            ],
            "discriminator": {
              "propertyName": "results",
              "mapping": {
                "_Results": "#/components/schemas/ReadManufacturingStartedTimedTimeTransactions_Results"
              }
            }
          }
        },
        "description": "A collection of ReadManufacturingStartedTimedTimeTransactions entities."
      },
      "SyncProjectTimeCostTransactions": {
        "required": [
          "Timestamp"
        ],
        "type": "object",
        "properties": {
          "__metadata": {
            "$ref": "#/components/schemas/ExactOnlineMetadata"
          },
          "Timestamp": {
            "type": "integer",
            "description": "",
            "format": "int64"
          },
          "Account": {
            "type": "string",
            "description": "",
            "format": "uuid"
          },
          "AccountName": {
            "type": "string",
            "description": ""
          },
          "AmountFC": {
            "type": "number",
            "description": "",
            "format": "double"
          },
          "Attachment": {
[...]
